body{
    text-align: center;
}

.notice{
    border: none;
    margin: auto;
    border-collapse: collapse;
}
tr,td{
    border: none;
}
table,tr,td,th{
    padding: 5px;
}
table.twidth{
    width: 80%;
    height: 500px;
    margin: auto;
}
caption{
    height: 20px;
    padding: 10px 0;
    font-family: 맑은고딕;
    font-weight: bold;
}
#content{
    border: 1px solid #ccc;
    height: 100px;
    width: 100%;
    font-size: 15px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.txt{
    width: 380px;
    height: 150px;
    padding: 5px;
    margin: 0;
    background-color: #eee;
}
a{
    margin: 20px 20px;
}
.inp{
    margin: 0;
    padding: 5px;
    width: 180px;
    background-color: #eee;
}
.title{
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-left:20px;
}
.date{
    float:right;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-right:20px;
}
.content{
    text-align: left;
    vertical-align: text-top;
    font-size: 20px;
}